# Supabase (encontre em Project Settings > API)
NEXT_PUBLIC_SUPABASE_URL="https://supabase.me-experience.lu"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2MjE3MDY2MCwiZXhwIjo0OTE3ODQ0MjYwLCJyb2xlIjoiYW5vbiJ9.RRIM4eKxmoQWVSue1nnlEs4kAsFcwTtXA5QrVxqK6Do"
SUPABASE_SERVICE_ROLE_KEY="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2MjE3MDY2MCwiZXhwIjo0OTE3ODQ0MjYwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.zgeUZIFyoYalHdNtAQThcR-N4HQcuVj9WOZ2PgUW-3k"

# Stripe (encontre no seu Dashboard Stripe > Developers)
NEXT_PUBLIC_STRIPE_PUBLIC_KEY="pk_test_51SNXbZ2ZItA8vC5recad7tFsiRVE1nDaNBZXsfRl4QKVNBgcex4Rztoo2R7SwAhNkDVtt6sEci1LaxCZ4gyeO9Li00ruvAkxWh"
STRIPE_SECRET_KEY="sk_test_51SNXbZ2ZItA8vC5rfOIlMHu57OdX8dpvZvTx9YfscF5H4FacnyyLUIMO7iMSgHdxFEPMqTVqBbZauYloiM4sa83400Bflr80ZN"
STRIPE_WEBHOOK_SECRET="whsec_x6fI7MI5VhqAKNnNML8hByGicoDma75A"
